.app-style {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 14px;
  height: 150px;
  width: 100%;
  z-index: 10;
  /* color del background en theme.css */
}

.app-style h1 {
  background: linear-gradient(to right, #16ea2f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.app-style h1,
h4 {
  margin: 0;
}

.app-style h4 {
  color: #16ea2f;
}

.app-style a {
  display: inline-block;
  margin: 18px 18px 4px 18px;
  transition: 0.5s all ease-in-out;
}

.app-style a:hover {
  cursor: pointer;
  color: #feb47b;
  transform: scale(1.2);
  transition: 0.5s all ease-in-out;
}

.anchorActivated {
  color: #feb47b;
}

.header-icon {
  width: 24px;
}

.header-span {
  display: flex;
}

.theme-container {
  display: flex;
  justify-content: right;
  margin: 0 50px -50px 0;
  width: 100%;
}

.theme-icon {
  width: 20px;
  /* background-color y border en theme.css */
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .app-style span {
    font-size: 1.2rem;
  }
}
