.init-global {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  transform: translateY(225px);
  color: #f3f3f3;
  height: 100vh;
}

.id-foto {
  width: 350px;
  height: 350px;
  border-radius: 12px;
  border: 2px solid white;
  margin: 0 0 0 28px;
}

.init-global p {
  margin: 0 28px 28px 28px;
}

.mark-up-text {
  color: #feb47b;
}

hr {
  visibility: hidden;
  transform: translateY(-180px);
  margin: 0;
}
