.init-global {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 1420px;
  margin: 0 auto 200px auto;
  /* text color definido en theme.css */
  opacity: 1;
  transition: 0.7s ease-in-out;
}

/* mark-up-text en theme.css */

.init-id-foto {
  width: 100%;
  max-width: 350px;
  min-width: 220px;
  height: 370px;
  border-radius: 12px;
  /* border color & style en theme.css*/
  margin: 0 0 0 28px;
  object-fit: cover;
}

.init-global p {
  margin: 0 28px 28px 28px;
}

@media screen and (max-width: 900px) {
  .init-global {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .init-id-foto {
    margin: 0 0 24px 0;
  }
}
