.init-global {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto 200px auto;
  color: #f3f3f3;
}

.init-id-foto {
  width: 100%;
  max-width: 350px;
  min-width: 220px;
  height: 370px;
  border-radius: 12px;
  border: 2px solid white;
  margin: 0 0 0 28px;
  object-fit: cover;
}

.init-global p {
  margin: 0 28px 28px 28px;
}

@media screen and (max-width: 800px) {
  .init-global {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .init-id-foto {
    margin-bottom: 24px;
  }
}
