[data-theme="light"] {
  --bg-color: rgb(230, 228, 228);
  --text-color: black;
  --markUp-color: #f96c00;
  --app-style-bg: linear-gradient(to bottom, #ffffffe9 90%, #2a2e3200);
  --theme-icon-bg: #feb47b;
  --theme-icon-border: #feb47b;
  --git-icon: black;
  --react-icon: white;
  --section-color-1: #00d719;
  --section-color-2: #f96c00;
  --scroll-up-down: #54595f;
  --soft-skills-bg: rgb(245, 245, 245);
  --soft-skills-text: black;
  --project-img-bg: rgb(245, 245, 245);
  --project-img-border: #2a2e32;
  --project-text-color: black;
  --project-anchor-color: #00ae14;
  --separator: black;
  --footer-bg: #ffffffe9;
  --footer-font-weight: bold;
  --copy-icon-bg: #54595f;
}

[data-theme="dark"] {
  --bg-color: #2a2e32;
  --text-color: white;
  --markUp-color: #feb47b;
  --app-style-bg: linear-gradient(to bottom, #2a2e32bd 90%, #2a2e3200);
  --theme-icon-bg: #16ea2f;
  --theme-icon-border: #16ea2f;
  --git-icon: rgba(255, 255, 255, 0);
  --section-color-1: #16ea2f;
  --section-color-2: #feb47b;
  --scroll-up-down: #2a2e32;
  --soft-skills-bg: #54595f;
  --soft-skills-text: white;
  --project-img-bg: #2a2e32;
  --project-img-border: rgb(245, 245, 245);
  --project-text-color: white;
  --project-anchor-color: #16ea2f;
  --separator: white;
  --footer-bg: #2a2e32;
  --footer-font-weight: inherit;
  --copy-icon-bg: black;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-style {
  background: var(--app-style-bg);
}

.theme-icon {
  background-color: var(--theme-icon-bg);
  border: 1px solid var(--theme-icon-border);
}

.init-global {
  color: var(--text-color);
}

.mark-up-text {
  color: var(--markUp-color);
}

.init-id-foto {
  border: 2px solid var(--text-color);
}

.section-title {
  background: linear-gradient(to right, var(--section-color-1), var(--section-color-2));
}

.theme-git-icon {
  background-color: var(--git-icon);
  border-radius: 10px;
}

.theme-react-icon {
  background-color: var(--react-icon);
  border-radius: 10px;
}

.scroll-up-down {
  background-color: var(--scroll-up-down);
}

.section1-soft-skills {
  background-color: var(--soft-skills-bg);
  border: 1px solid #2a2e32;
  color: var(--soft-skills-text);
}

.project-img {
  background-color: var(--project-img-bg);
  border: 1px solid var(--project-img-border);
}

[class^="project-text"] {
  color: var(--project-text-color);
}

.project-anchor {
  color: var(--project-anchor-color);
}

.separator {
  background-color: var(--separator);
}

.app-footer-style {
  background-color: var(--footer-bg);
  font-weight: var(--footer-font-weight);
}

.copy-icon {
  background-color: var(--copy-icon-bg);
}

.git-icon {
  background-color: var(--copy-icon-bg);
}
